/* NotFound.module.css */

.notFound {
    text-align: center;
    padding: 2rem;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  
  .notFound h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1rem;
  }
  
  .notFound p {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.5;
  }
  
  .notFoundImage {
    max-width: 100%;
    height: auto;
    margin: 1rem 0;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .notFound h2 {
      font-size: 2rem;
    }
  
    .notFound p {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 480px) {
    .notFound {
      padding: 1rem;
    }
  
    .notFound h2 {
      font-size: 1.5rem;
    }
  
    .notFound p {
      font-size: 0.9rem;
    }
  }
  