.imprint {
    margin: 0 auto;
    padding: 5rem;
    max-width: 80rem;
  }
  
  .imprint h2, .imprint h3 {
    color: #007bff;
    margin-bottom: 1.5rem;
  }
  
  .imprint p {
    line-height: 1.6;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
  
  .imprint strong {
    color: #000;
  }
  
  @media screen and (max-width: 768px) {
    .imprint {
      padding: 10px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .imprint h2, .imprint h3 {
      font-size: 1.5em;
    }
  
    .imprint p {
      font-size: 0.9em;
    }
  }
  