.scrollToTop {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 1000;
    transition: opacity 0.3s;
  }
  
  .scrollToTop:hover {
    opacity: 0.8;
  }
  